
<h1>Add a new cuisine</h1>
<form action="/cuisines" method="post">
  <label for="cuisine-type">Cuisine Type</label>
  <input id="cuisine-type" name="cuisine-type" type="text">
  <label for="menu">Menu</label>
  <input id="menu" name="menu" type="text">
  <button type="submit">Submit</button>
</form>
<a href="/">Go Back</a>
<a href="/cuisines">View all cuisines</a>
