<h1>You've added a new Restaurant!</h1>

    <h4>@Model["restaurant"].GetName()</h4>
    <p>@Model["restaurant"].GetStyle()</p>
    <p>@Model["cuisine"].GetName()</p>

  <a href='/cuisine/new'>Add Another Restaurant</a>
  <a href='/'>View All Restaurants</a>
